Repository firebase/firebase-unity-sdk, pull requests merged in 2023-07, with the labels that each got.

#781 Firestore: Add a test and readme about the android global refs crash
  docs/readme.md
  firestore/testapp/Assets/Firebase/Sample/Firestore/UIHandlerAutomated.cs
Labels: tests: failed, api: firestore

#769 Mila/dynamically set target backend in test
  .github/workflows/integration_tests.yml
  firestore/testapp/Assets/Firebase/Sample/Firestore/UIHandler.cs
  firestore/testapp/Assets/Firebase/Sample/Firestore/UIHandlerAutomated.cs
Labels: tests: failed

#789 Clear Cocoapods cache before adding pod repo.
  .github/workflows/build_tvos.yml
Labels: tests: in-progress
